<div class="footer-block block footer_html">
	{% if settings.footer_blockhtml_title != blank %}
		<h4 class="title_block">{{ settings.footer_blockhtml_title }}</h4>
	{% endif %}
	<div class="block_content">
		{{settings.footer_blockhtml_content}}
	</div>
</div>