<div class="block_aboutshop block">
	<div class="block_content">		
      <div class="box logo-ft">
        {{ 'shop_images_footer.png' | asset_url | img_tag: settings.footer_aboutshop_title, "img-responsive" }}
      </div>
      {% if settings.footer_aboutshop_title != blank %}
      <h3 class="title_block">{{ settings.footer_aboutshop_title }}</h3>
      {% endif %}
      <div class="about">
        {% if settings.footer_aboutshop_des != blank %}
        <p>{{ settings.footer_aboutshop_des }}</p>
        {% endif %}
      </div>
  </div>		
</div>