<div class="block footer_contact">
	{% if settings.footer_blockcontact_title != blank %}
		<h4 class="title_block">{{ settings.footer_blockcontact_title }}</h4>
	{% endif %}
	<div class="block_content">
		{{settings.footer_blockcontact_content}}
	</div>
</div>