<div class="widget-banner block banner_hbot">
	<div class="block_content">
		<div class="image-box">
			<div class="img-banner effect">
				<a href="{{ settings.homepage_bannerbottom_link }}">
					{{ 'home_bannerbottom.png' | asset_url | img_tag: "Adv Banner", "img-responsive" }}
				</a>
			</div>
		</div>
	</div>
</div>