<div class="navbar-header {% if block-btncanvas == 'topbar' %}btn-canvas-top{% endif %}">
{% if settings.apollo_canvas_style == 'styleone' %}
<button type="button" class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas{{block-btncanvas}}" data-target="#off-canvas-nav">
  <span class="sr-only">Toggle navigation</span>
  <span class="fa fa-bars"></span>
</button>
{% elsif settings.apollo_canvas_style == 'styletwo' %}
<a class="navbar-toggle btn-menu-canvas" href="#apollo-menucanvas" title="Toggle navigation">
  <span class="sr-only">Toggle navigation</span>
  <span class="fa fa-bars"></span>
</a>
{% elsif settings.apollo_canvas_style == 'stylethree' %}
<button type="button" class="navbar-toggle btn-menu-canvas" data-toggle="collapse" data-target="#mobile-boostrap">
  <span class="sr-only">Toggle navigation</span>
  <span class="fa fa-bars"></span>
</button>            
{% endif %}
</div>