<div class="collection-view">
  	<label>View</label>
    <button type="button" title="{{ 'collections.general.grid_view' | t }}" class="btn change-view{% unless template contains 'list' %} change-view--active{% endunless %}" data-view="grid">
        <span class="icon-fallback-text">
            <span class="fa fa-th" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'collections.general.grid_view' | t }}</span>
        </span>
    </button>
    <button type="button" title="{{ 'collections.general.list_view' | t }}" class="btn change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list">
        <span class="icon-fallback-text">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'collections.general.list_view' | t }}</span>
        </span>
    </button>
</div>