<nav>  	
  	{% include 'block-infoshop' %}    
  	<div class="pull-right right-nav">
      <div class="btn-group search-focus hidden-sm hidden-md hidden-lg">
        <div class="dropdown-toggle">
          <span class="fa fa-search"></span>
        </div>
      </div>
      {% include 'block-userinfo' %}  	
      {% include 'block-currencies' %}	
      {% include 'block-btncanvas' with 'topbar' %}	  	
  	</div>
</nav>