<section class="header-container">
    <div id="topbar">
        <div class="banner">
            <div class="container">
                {% include 'displayBanner' %}
            </div>
        </div>
        <div class="nav">
            <div class="container">
                {% include 'displayNav' %}
            </div>
        </div>
    </div>
    <div id="header-main">
        <div class="container-fluid">
            <div class="inside">
                <div class="vertical-icon pull-left">
                  {% include 'block-verticalmenu' %}                  
              	</div>	
                <div id="header_logo" class="logo pull-left">
                  {% if template == 'index' %}
                  <h1 class="" itemscope itemtype="http://schema.org/Organization">
                  {% else %}
                  <div class="" itemscope itemtype="http://schema.org/Organization">
                  {% endif %}
                  {% if settings.logo_use_image %}
                    <a href="/" itemprop="url">
                      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    </a>
                  {% else %}
                    <a href="/" itemprop="url">{{ shop.name }}</a>
                  {% endif %}
                  {% if template == 'index' %}
                  </h1>
                  {% else %}
                  </div>
                  {% endif %}
                </div>
                
              	<div class="pull-left content-header">
                  {% include 'displayTop' %}
                  <div class="clearfix"></div>
                  {% include 'block-search' %}
              	</div>
              
                <div class="pull-right content-header">
                  	{% include 'block-cart' %}
                  	{% include 'displayUser' %}
                </div>
              <div class="clearfix"></div>
              {% if settings.apollo_canvas_style == 'stylethree' %}
              	{% include 'block-menu-canvas' %}
              {% endif %}
            </div>
        </div>
    </div>    
</section>