<div id="search_block_page" class="">
    <form action="/search" method="get" class="search-bar" role="search">
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <input id="search_querry_page" class="search_query form-control" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
        <button id="search_button_page" class="btn btn-sm btn-outline" type="submit" >
            <span><i class="fa fa-search"></i></span>
            <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
    </form>
</div>